<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091324574106-6qe6b3lvo0jqdfq6o2n9gofml93376rt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091324574106-6qe6b3lvo0jqdfq6o2n9gofml93376rt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1091324574106-1jiva7k9841vhcvo2aadtmqjp71uv2bb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrJ-if3lCT0H15paWPty1uvFqhjt3RPe8</string>
	<key>GCM_SENDER_ID</key>
	<string>1091324574106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simongolda.bonuze</string>
	<key>PROJECT_ID</key>
	<string>bonuze-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bonuze-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091324574106:ios:abb9d977dff86affaca223</string>
</dict>
</plist>